@media (min-width: 600px) {

    .hamburger {
      display: none;
    }

    .hero-container {
      grid-template-columns: repeat(2, 1fr);
  
    }

    .specials-section-title {
      margin: 0 0 2em 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2em;
    
    
    }
    
    .specials-grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 1.85em;
    }

    .specials-card {
      background-color: #EDEFEE;
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: row;
      border-radius: 1em;
    }
    
    .dish-info {
      padding: 1.5em;
      width: 60%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .dish-photo {
      width: 40%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      order: 2;
  
    }

    .testimonials-grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 1.5em;
    }

    .aboutus-images-grid {
      grid-template-columns: repeat(2, 1fr)
    }

    .footer-container {
      grid-template-columns: repeat(2, 1fr)

    }


  }


  @media (min-width: 768px) {

header,
footer,
.hero-section,
.specials-section,
.testimonials-section,
.aboutus-section {
  height: fit-content;
  padding: 2em;


}

.primary-nav {
  margin: 0 auto;
  height: 7.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.logo-nav {
  width: 258px;
}
  
  .primary-nav ul {
    position: unset;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
  }
  
  .primary-nav ul li {
    border: none;
   

  }
  
  .primary-nav ul li a {
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .active {
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: #F4CE14;

  }

  .primary-nav ul li a:not(.active):hover {
    padding: 0.5em 1em;
    border-radius: 1em;
    color:  #F4CE14;
    background-color: #495E57;
  }


  .hero-section {
    background-color: #495E57;
    height: fit-content;
    display: flex;
    align-items: center;
  }

  .hero-container {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5em;

  }

  .cta-reserve-table {
    width: 200px;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: #F4CE14;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .hero-text-container {
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1.5em;
    font-weight: 400;
    font-size: 20px;
  }

  .hero-text-container h1 {
    margin: 0 0 0 0;
    padding: 0;
    color: #F4CE14;
    font-family: 'Markazi Text';
    line-height: 0.8;
    font-weight: bold;
    font-size: 64px;
  }

  .hero-text-container h3 {
    margin-top: 0;
    font-family: 'Markazi Text';
    font-weight: 400;
    font-size: 32px;
  }

  .hero-photo {
    width: 100%;
    height: 424px;
    border-radius: 16px;
    object-fit: cover;
  }


  .specials-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .specials-section-title {
    margin: 2em 0;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
  
  }
  
  .specials-title {
    margin: 0;
    font-family: 'Markazi Text';
    line-height: 0.8;
    font-weight: 700;
    font-size: 4rem;
  }
  
  .cta-online-menu {
    display: block;
    margin: 0;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: #F4CE14;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }
  
  .specials-grid-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.85em;
  }
  
  .specials-card {
    background-color: #EDEFEE;
    max-width: 336.2px;
    height: 500px;
    border: solid 1px black;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .dish-info {
    padding: 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .dish-photo {
    width: 100%;
    height: 200px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    order: -1;

  }
  
  .dish-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dish-title,
  .dish-price {
    margin: 0;
  }
  
  .dish-title {
    font-family: 'Markazi Text';
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .dish-price {
    font-weight: bold;
    color: #EE9972;
    font-size: 1rem;
  }
  
  .delivery-link {
    display: block;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
  }
  
  .delivery-icon {
    margin-left: 1em;
    font-weight: 700;
    font-size: 1rem;
  }


  
  .testimonials-section {
    height: fit-content;
    background-color: #495E57;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  
  .testimonials-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1.5em;
  }
  
  .testimonials-section h2 {
    margin: 0;
    color: white;
    font-family: 'Markazi Text';
    font-weight: 700;
    font-size: 64px;
    line-height: 0.8;
  }
  
  .testimonial-card {
    background-color: white;
    padding: 10px;
    width: 220px;
    height: 374px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .testimonial-card h4 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 20px;
  }
  
  .guest-photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
  
  .stars-rating {
    margin: 10px 0;
  }
  
  .testimonial-card p {
    margin-bottom: 10px;
  }

  .aboutus-section {
    height: fit-content;
    display: flex;
    align-items: center;
  }

  .aboutus-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .aboutus-container h2,
  .aboutus-container p {
    text-align: left;
    width: 100%;
  }

  .aboutus-container h2 {
    margin: 0;
    font-family: 'Markazi Text';
    font-weight: 700;
    font-size: 64px;
    line-height: 0.8;
  }

  .aboutus-container h4 {
    margin: 0;
    font-family: 'Markazi Text';
    font-weight: 600;
    font-size: 32px;
  }

  .aboutus-container p {
    margin: 50px 0;
    font-size: 20px;
  }

  .aboutus-images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5em;

  }
  .photo-container-1 {
    width: 100%;
    position: unset;
  }
  
  .photo-container-2 {
    width: 100%;
    position: unset;
  }
  
  .photo-chefs-b,
  .photo-chefs-a {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer {
    background-color: #495E57;
  }

  .footer-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5em;
  }

  .logo-footer {
    width: 173px;
  }
  
  .footer-container ul {
    list-style: none;
    padding: 0;
  }

  .footer-container li {
    margin: 0.5em 0;
  }
  
  .footer-container a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.250rem;
  }

  .contact-info li {
    font-weight: 500;
    font-size: 1.250rem;
  }

  .footer-container h4 {
    font-weight: 500;
    font-size: 1.5rem;

  }



  }

  

@media (min-width: 960px) {

    header,
    footer,
    .hero-section,
    .specials-section,
    .testimonials-section,
    .aboutus-section {
      width: 100%;
      padding: 0;
    
    
    }
    
    .primary-nav,
    .hero-container,
    .specials-grid-container,
    .testimonials-container,
    .aboutus-container,
    .footer-container {
      margin: 0 auto;
      max-width: 60em;
    }
    
    
    .primary-nav {
      margin: 0 auto;
      height: 7.5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    .hamburger {
      display: none;
    }
    
    .logo-nav {
      width: 258px;
    }
    
    
    .primary-nav ul {
      display: flex;
      list-style: none;
      gap: 20px;
    }
    
    .primary-nav a {
      color: black;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
    }
    
    .hero-section {
      background-color: #495E57;
      height: 406px;
      display: flex;
      align-items: center;
    
    }
    
    .hero-container {
      margin: 0 auto;
      height: 346px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      /* display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      gap: 1.5em; */
    }
    
    .cta-reserve-table {
      align-self: flex-start;
      width: 200px;
      height: 40px;
      border-radius: 16px;
      border: none;
      background-color: #F4CE14;
      font-family: 'Karla', sans-serif;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      /* margin-bottom: 4.5em; */
    
    }
    
    .hero-text-container {
      text-align: left;
      /* width: 100%;
      height: 100%; */
      width: 422px;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
    }
    
    .hero-text-container h1 {
      margin: 0 0 0 0;
      padding: 0;
      color: #F4CE14;
      font-family: 'Markazi Text';
      line-height: 0.8;
      font-weight: bold;
      font-size: 64px;
    }
    
    .hero-text-container h3 {
      margin-top: 0;
      font-family: 'Markazi Text';
      font-weight: 400;
      font-size: 32px;
    }
    
    .hero-text-container {
      font-weight: 400;
      font-size: 20px;
    }
    
    .hero-photo {
      /* width: 100%; */
      width: 400px;
      height: 424px;
      border-radius: 16px;
      object-fit: cov;
      position: absolute;
      top: 0;
      right: 0;
    
    }
    
    .specials-section {
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
    }
    
    .specials-section-title {
      margin: 5em 0 2em 0;
      width: 60em;
      /* margin: 0 auto; */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    
    
    }
    
    .specials-title {
      margin: 0;
      font-family: 'Markazi Text';
      line-height: 0.8;
      font-weight: 700;
      font-size: 4rem;
    }
    
    .cta-online-menu {
      display: block;
      margin: 0;
      width: 200px;
      height: 40px;
      border-radius: 16px;
      border: none;
      background-color: #F4CE14;
      font-family: 'Karla', sans-serif;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }
    
    .specials-grid-container {
      width: 100%;
      margin-bottom: 4em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 1em;
    }
    
    .specials-card {
      background-color: #EDEFEE;
      width: 100%;
      height: 500px;
      border: solid 1px black;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .dish-info {
      padding: 1.5em;
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .dish-photo {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
    
    .dish-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .dish-title,
    .dish-price {
      margin: 0;
    }
    
    .dish-title {
      font-family: 'Markazi Text';
      font-weight: 500;
      font-size: 1.5rem;
    }
    
    .dish-price {
      font-weight: bold;
      color: #EE9972;
      font-size: 1rem;
    }
    
    .delivery-link {
      display: block;
      color: black;
      font-size: 1rem;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
    }
    
    .delivery-icon {
      margin-left: 1em;
      font-weight: 700;
      font-size: 1rem;
    }
    
    .testimonials-section {
      height: 590px;
      background-color: #495E57;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;
    }
    
    .testimonials-section h2 {
      margin: 0;
      color: white;
      font-family: 'Markazi Text';
      font-weight: 700;
      font-size: 64px;
      line-height: 0.8;
    }
    
    .testimonials-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      gap: 1.5em;
    }
    
    .testimonial-card {
      background-color: white;
      padding: 10px;
      width: 220px;
      height: 374px;
      border-radius: 16px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    
    }
    
    .testimonial-card h4 {
      margin: 10px 0;
      font-weight: 600;
      font-size: 20px;
    }
    
    .guest-photo {
      width: 128px;
      height: 128px;
      border-radius: 50%;
    }
    
    .stars-rating {
      margin: 10px 0;
    
    }
    
    .testimonial-card p {
      margin-bottom: 10px;
    }
    
    .aboutus-section {
      height: 578px;
      display: flex;
      align-items: center;
    
    }
    
    
    .aboutus-container {
      height: 32.375em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
    }
    
    .aboutus-container h2,
    .aboutus-container p {
      width: 422px;
    }
    
    .aboutus-container h2 {
      margin: 0;
      font-family: 'Markazi Text';
      font-weight: 700;
      font-size: 64px;
      line-height: 0.8;
    }
    
    .aboutus-container h4 {
      margin: 0;
      font-family: 'Markazi Text';
      font-weight: 600;
      font-size: 32px;
    }
    
    .aboutus-container p {
      margin-top: 50px;
      margin-bottom: 0;
      font-size: 20px;
    }
    
    .photo-container-1 {
      width: 272px;
      height: 320px;
      /* border: 1px solid black; */
      position: absolute;
      right: 0;
      top: 0;
    
    }
    
    .photo-container-2 {
      width: 272px;
      height: 320px;
      /* border: 1px solid black; */
      position: absolute;
      right: 200px;
      top: 198px;
      z-index: -1;
    
    }
    
    .photo-chefs-b,
    .photo-chefs-a {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    
    footer {
      background-color: #495E57;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    
    .footer-container {
      color: white;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 1.5em;
      /* align-items: center; */
    }
    
    .logo-footer {
      width: 173px;
    }
    
    .footer-container ul {
      list-style: none;
      padding: 0;
    }
    
    .footer-container a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
    }
    
    
    
    
    }