.form-section h2 {
    /* margin: 0.4em 0;
    text-align: center;
    line-height: 0.8;
    font-family: 'Markazi Text', serif;
    font-size: 2.5em; */
    display: none;
  }


.form-instructions {
    width: 100%;
    text-align: center;
    color: #F4CE14;
    font-size: 1.2em;
    font-weight: 700;
  }

  .form-instructions p {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .form-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5em;
    grid-template-areas: 
            "date time"
            "diners diners"
            "location location"
            "occasion occasion"
            "special special"
            "continue continue";
  }



  
  /* .form-container-contact {
    background-color: #495E57;
    margin: 0 0 2em 0;
    padding: 2.9em 7.937em;
    border-radius: 1em;
    width: 640px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    color: #F4CE14;
    position: relative;
  } */


  /* .form-instructions-contact {
    position: absolute;
    bottom: 20px;
    left: 395px;
    z-index: 10;

  } */

  .form-instructions-contact p {
    margin: 0;
    color: #F4CE14;
  }
  

  
  .confirmation-container {
    width: 640px;
    height: 540px;
    margin: 3.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .confirmation-container h2,
  .confirmation-container p {
    margin: 0;
  }
  
  .confirmation-container p {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .btns-container-confirmation {
    display: flex;
    justify-content: center;
  }



  /* 386 px FORM */

  .form-container {
    margin-bottom: 0;
  }

  .form-body {
    width: 100%;
  }

  #date,
  #label-date
  #reserved-time,
  #label-time {
    width: 100%;
  }

  .form-container-contact {
    margin: 0;
    padding: 2em;
    border-radius: 1em;
    width: 100%;
    height: fit-content;
  }

  .form-instructions-contact {
    position: absolute;
    top: 20px;
    right: 32px;
    z-index: 10;

  }

  .form-container-review {
    width: 100%;
    padding: 2em;
    height: fit-content;
    /* margin-bottom: 1.4em; */
  }

  .form-confirmation-section{
    width: 100%;
    padding: 2em;
    background-color: #495E57;
  }
  .confirmation-container {
    width: 100%;
    height: fit-content;
    margin: 0 0 2em 0;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    gap: 4em;
  }

  .confirmation-container img {
    width: 190px;
  }

  .confirmation-container h2,
  .confirmation-container p {
    display: inline;
    text-align: center;
    font-size: 1.4em;
  }

  .btns-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .btns-container.one {
    margin-top: 1.5em;
    padding: 0;
  }

  a.btn-continue,
  button.btn-continue {
    width: 100%;
    justify-self: center;
    margin-bottom: 0;
  }

  a.btn-continue.contact {
    margin-top: 0;
  }


  .btn-continue.confirmation {
    margin-top: 1.15px;
  }

  /* END 386 px FORM */


  /* 768 px  FORM*/

  .form-section {
    background-color: white;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .form-section h2 {
    display: inline;
    margin: 0.4em 0;
    font-family: 'Markazi Text', serif;
    font-size: 2.5em;
  }

  .form-container {
    background-color: #495E57;
    margin: 0 0 2em 0;
    padding: 3.375em 7.937em;
    border-radius: 1em;
    width: 640px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    color: #F4CE14;
  }

  .form-instructions {
    width: 100%;
    text-align: center;
    color: #F4CE14;
    font-size: 1.2em;
    font-weight: 700;
    /* border: solid 1px #F4CE14; */
  }

  .form-instructions p {
    margin-top: 0;
  }

  .form-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas: 
            "date time"
            "diners diners"
            "location location"
            "special special";
  }

  
  
  #date,
  #reserved-time,
  #diners,
  #table-location,
  #special-occasion {
    width: 100%;
    height: 40px;
    border-radius: 0.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  
  #reserved-time,
  #date {
    text-align: center;
  }
  
  #diners,
  #table-location,
  #special-occasion,
  #fname,
  #lname,
  #email,
  #phone,
  #special-request  {
    padding: 0 1em;
  }
  
  #date,
  #label-date {
    grid-area: date;
  }
  
  #reserved-time,
  #label-time {
    grid-area: time;
  }

  #diners,
  #label-diners {
    grid-area: diners;
  }
  
  #table-location,
  #label-table {
    grid-area: location;
  }
  
  #special-occasion,
  #label-special {
    grid-area: special;
  }

  .form-container-contact {
    background-color: #495E57;
    margin: 0 0 2em 0;
    padding: 2.9em 7.937em;
    border-radius: 1em;
    width: 640px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    color: #F4CE14;
    position: relative;
  }

  .form-instructions-contact {
    position: absolute;
    bottom: 20px;
    left: 395px;
    z-index: 10;

  }

  .form-instructions-contact p {
    margin: 0;
    color: #F4CE14;
  }
  
  .form-body-contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }

  #fname,
  #lname,
  #email,
  #phone,
  #special-request  {
    width: 100%;
    height: 40px;
    border-radius: 0.6em;
    margin-top: 0.5em;
    font-size: 1.1rem;
    font-weight: 500;
  }

  #special-request {
    height: auto;
    resize: none;
  }

  .btns-container.one {
    display: flex;
    justify-content: center;
  }
  .btn-continue.back {
    order: 1;
  }

  .btn-continue.one {
    align-self: center;
  }

  .btn-continue {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 0 0 2em 0;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: #F4CE14;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    order: 2;
  }

  .btns-container {
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a.btn-continue.back {
    background-color: white;
    border: 2px solid #495E57;
  }

  .confirmation-container {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .confirmation-container h2,
  .confirmation-container p {
    margin: 0;
  }

  .confirmation-container p {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .btns-container-confirmation {
    display: flex;
    justify-content: center;
  }

  /* END 768 px FORM */